body {
    background-image: url('..build/backimg.jpg');
    font-family: 'Times New Roman', Times, serif
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
  .chon-hoc-sinh,
  .diem-tru,
  .date,
  .class,
  .week,
  .so-loi,
  .loi,
  .actions {
    margin-bottom: 15px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select,
  input[type="number"],
  input[type="date"] {
    padding: 5px;
    margin-right: 10px;
  }
  
  .actions button {
    margin-right: 10px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  .table-container th,
  .table-container td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }